In [14]:
import pandas as pd, numpy as np, scipy

In [2]:
citibike = pd.read_csv('201609-citibike-tripdata.csv')

In [3]:
citibike.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,975,9/1/2016 00:00:02,9/1/2016 00:16:18,312,Allen St & Stanton St,40.722055,-73.989111,313,Washington Ave & Park Ave,40.696102,-73.967510,22609,Subscriber,1985.0,1
1,1220,9/1/2016 00:00:04,9/1/2016 00:20:25,316,Fulton St & William St,40.709560,-74.006536,239,Willoughby St & Fleet St,40.691966,-73.981302,16966,Subscriber,1977.0,2
2,308,9/1/2016 00:00:19,9/1/2016 00:05:27,479,9 Ave & W 45 St,40.760193,-73.991255,448,W 37 St & 10 Ave,40.756604,-73.997901,25601,Subscriber,1983.0,1
3,250,9/1/2016 00:00:25,9/1/2016 00:04:35,297,E 15 St & 3 Ave,40.734232,-73.986923,487,E 20 St & FDR Drive,40.733143,-73.975739,22094,Subscriber,1953.0,1
4,439,9/1/2016 00:00:25,9/1/2016 00:07:45,494,W 26 St & 8 Ave,40.747348,-73.997236,533,Broadway & W 39 St,40.752996,-73.987216,16319,Subscriber,1985.0,1

In [42]:
citibike1 = citibike.iloc[:,3:7]
citibike1.head()
citibike2 = citibike1.drop_duplicates()
citibike2.columns = ['id', 'name', 'lat', 'long']
citibike2.head()

    id                    name        lat       long
0  312   Allen St & Stanton St  40.722055 -73.989111
1  316  Fulton St & William St  40.709560 -74.006536
2  479         9 Ave & W 45 St  40.760193 -73.991255
3  297         E 15 St & 3 Ave  40.734232 -73.986923
4  494         W 26 St & 8 Ave  40.747348 -73.997236

In [47]:
citibike2.to_csv('citbike stations.csv', index = False)